@CHARSET "UTF-8";

html,
body.file-form-field,
.file-form-field div, 
.file-form-field p, 
.file-form-field table,
.file-form-field td, 
.file-form-field tr,
.file-form-field a,
.file-form-field li,
.file-form-field ul,
.file-form-field img,
.file-form-field h1,
.file-form-field h2,
.file-form-field h3,
.file-form-field h4 {	
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	color: #475059;
}


.file-form-field table {
	border-collapse: collapse;
}


.file-form-field form {
	overflow: hidden;
	margin: 10px 0;
}

.file-form-field form input {
	float: left;
	margin-right: 10px;
}

.file-form-field form .size_restriction {
	font-weight: bold;
	color: #000000;
	display: block;
	float: right;
	padding-top: 4px;
}

.file-form-field .errors {
	margin: 10px 0 10px 10px;	
}

.file-form-field .errors .error {
	color: red;
	font-weight: bold;
}
	
	
.file-form-field .file_list {
	list-style: none;
}

.file-form-field .file_list li {
	min-height: 20px;
	margin: 3px 0;
	background: #f4f4f4;
	padding: 3px 5px;
	overflow: hidden;
}

.file-form-field .file_list .delete {
	display: block;
	float: right;	
	border: 1px solid silver;
	text-decoration: none;
	padding: 1px 10px 1px;
	border-radius: 5px;
	margin: 0 10px 0 0;
	background: #ffffff;
	font-weight: normal;	
}

.file-form-field .file_list .delete:hover,
.file-form-field .file_list a:hover {
	color: red;
	cursor: pointer;
}
	
.file-form-field .file_list .size {
	display: block;
	float: right;
	width: 80px;
	color: #000000;
	padding-top: 2px;
	text-align: center;
}	
	
	
	
